.search-btn-pop,
.search-btn,
.search-input {
    width: 280px;
    height: 40px;  
    margin: 0 0 15px;
    padding: 13px;  
    border-radius: 20px;  
    background-color: #fff;
    border: none;
}

.search-wrap input::placeholder {
    text-align: center;
    color: var(--textSoft);
    font-size: 12px;
    font-weight: 500;
}

.search-btn-pop,
.search-btn {
    font-size: 14px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.search-btn-pop {
    background-image: linear-gradient(to right top, #712bda, #7f38de, #8c45e2, #9851e7, #a45deb);
}