.card-area {
    width: calc(100%);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img-area {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.img-bg img{
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;    
}

.img-play img {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;    
}

.info-area {
    width: calc(100% - 105px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
}

.artist {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.36px;
    color: #334155;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #334155;
    height: 62px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bottom-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.pop-area {
    width: 45px;
    height: 20px;
    border-radius: 10px;
    background-color: #10b981;    
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 16px;
}

.dollar-area {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.43px;
    color: #f5b014;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dollar-text {
    padding-left: 5px;
    line-height: 19px;
}