.header-area {
    width: 100vw;
    height: 60px;
    color: var(--text);
    overflow-x: hidden;
}

.header-bg {
    position: absolute;
    z-index: 2;
    top: -140px;
    left: -30vw;
    right: 0;
    margin: auto;
    width: 160vw;
    height: 200px;
    background-image: linear-gradient(to right top, #712bda, #7f38de, #8c45e2, #9851e7, #a45deb);
    box-shadow: 0 0 6px 0 rgba(148, 77, 230, 0.75);
    border-radius: 40%;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    padding: 18px;
}

.menu {
    width: 14px;
    cursor: pointer;
}

.logoNg {
    width: 73px;
    cursor: pointer;
}

.search {
    width: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .header-area {
        overflow-x: hidden;
    }
  }