.wrap-list-page {
    background-color: #f8fafc;
    width: 100vw;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

.title-area {
    padding-top: 42px;
    padding-bottom: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-title {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #334155;
    padding-top: 3px;
}

.main-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.64px;
    color: var(--bg);
    text-transform: capitalize;
    padding-left: 10px;
}

.wrap-load-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.load-more {
    width: 120px;
    height: 34px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 17px;
    background-color: #e2e8f0;
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #64748b;
    border: none;
    cursor: pointer;
}

.wrap-search-pop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 28, 45, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-btn-pop {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 12;
    cursor: pointer;
}

.search-pop-area {
    width: 280px;
    height: 150px;
    margin: auto;
}

.search-pop-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.71px;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}