:root {
    --bg: #712bda;
    --bgSoft: #a45deb;
    --bgBtn: #10b981;
    --bgBtnSoft: #e2e8f0;
    --text: white;
    --textSoft: #334155;
    --textBtnSoft: #64748b;
    --textMoney: #f5b014
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: block;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none; 
    transition: .2s;
}

a:hover {
    opacity: .7;
}

ul, li {list-style: none;}