.container {
    display: block;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #712bda, #7f38de, #8c45e2, #9851e7, #a45deb);
}

.wrap-logo {
    display: block;
    position: absolute;
    top: calc(50vh - 42px);
    left: calc(50vw - 36px);
    margin: auto;
    z-index: 9;
}
.wrap-search {
    display: block;
    position: absolute;
    width: 280px;
    height: 100px;
    left: calc(50vw - 140px);
    bottom: 26px;
    z-index: 9;
}
.form {
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form .input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
}
